<template name="Inscription">

<div class="container">
 <div class="row">
 <div class="col-md-8 col-md-offset-2">
 <div class="jumbotron">
 <div class="text-center">
  <h1 style="font-family: 'Gloria Hallelujah', cursive;">Todo List
  </h1>
     <br>
   <div class="alert alert-success alert-dismissable">
      <strong>Veuillez remplir les champs pour pouvoir s'inscrir</strong>
    </div>
  <form class="form-horizontal">
   <div class="form-group" style="text-align: center;"> 
    <input type="text" name="username" maxlength=53 id="newlogin"  style="width:370px; height:32px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border: 1px solid #ccc;border-radius: 4px;color: #555;" placeholder="Nom d'utilisateur" autofocus />
   </div>
   <div class="form-group" style="text-align: center;"> 
    <input type="text" name="email" maxlength=53 id="newlogin"  style="width:370px; height:32px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border: 1px solid #ccc;border-radius: 4px;color: #555;" placeholder="Email" autofocus />
   </div>
   <div class="form-group" style="text-align: center;"> 
    <input type="password" name="password" maxlength=53 id="newpassword"  style="width:370px; height:32px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border: 1px solid #ccc;border-radius: 4px;color: #555;" placeholder="Password" autofocus />
   </div>
    <button type="submit" class="btn btn-success">Inscription</button>
  </form>

 </div>
 </div>
 </div>
 </div>
 </div>

</template>
